<!doctype html>
<html ng-app="nsbHackathonApp">
<head>
  <title><%= title %></title>
  <% include partials/meta %>
</head>
<body>

  <div ui-view></div>

  <% include partials/scripts-footer %>
</body>
</html>
